<div class="container-fluid">

<section class="pokedex">

    <div class="pokemon" *ngFor="let pokemon of pokemons | orderBy : key : reverse | paginate: {itemsPerPage: 20, currentPage: page, totalItems: totalPokemons}">
      <figure class="pokemon-figure">
        <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png" alt="zubat" style="width: 12rem;">
      </figure>
      <section class="pokemon-description">
        <span class="pokemon-id">{{pokemon.id}}</span>
        <h1 class="pokemon-name">{{pokemon.name}}</h1>
        <div class="pokemon-types">
          <span class="pokemon-type background-{{pokemon.types[0].type.name}} type">{{pokemon.types[0].type.name}}</span></div>
      </section>
    </div>
  </section>



</div>

<div class="row d-flex justify-content-center">
  <pagination-controls (pageChange)="nextPage($event); pokemons = []; getPokemons()"></pagination-controls>

</div>